body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply bg-transparent text-neutral-200 text-xl border rounded-3xl px-6 py-1
  }
  .main {
    @apply flex justify-center items-start flex-col h-full gap-8 flex-grow
  }
  .heading-two {
    @apply text-white text-xl font-bold border-b border-neutral-300 pb-2 font-mono
  }
  .list-item {
    @apply text-neutral-100 font-light cursor-pointer mb-4
  }
  .clicked {
    @apply text-white font-bold text-lg
  }
  .span {
    @apply inline-block
  }
}
